// out: main.css, sourcemap: true, compress: true

body, html {
  height: 100%;
}

body {
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  transition: all 0.5s ease;
  font-weight: 300;
}

body.noscroll {
    overflow: hidden;
}

h1, h2, h3 {
 margin: 30px 0;
 letter-spacing: 0.035rem;
}

h1 {
  text-transform: uppercase;
  font-size: 2.6rem;
  font-weight: 700;
  margin-top: 0;
}

h2 {
  font-size: 2.2rem;
  font-weight: 100;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #ff6600;
}

h4 {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.bg-light {
  background-color: #333;
  color: #FFF;
}

.bg-alert {
  background-color: #dc3545;
  color: #FFF;
}

.btn {
  margin-bottom: 30px;
  border-radius: 0;
  border: 0;

  &.btn-primary {
    background-color: #ff6600;
    border: 1px solid #fff !important;

    &:hover, &:active {
      background-color: #de5900 !important;
    }
  }

  &:focus, &:active {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

select, input, textarea {
  box-shadow: none !important;
  outline: 0 !important;
  border-radius: 0 !important;
  font-weight: 100 !important;
}


label {
  font-size: 1.2rem;
  font-weight: 300;
}

.link-disconnect {
  &:hover {
    cursor: pointer;
  }
}

.erreur {
  display: none;
}


#connexion-inscription input, #contact input {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border: 0 !important;
  border-bottom: 1px solid #ff6600 !important;
  text-align: center;
}

#connexion-inscription input[type="submit"] {
  padding: .375rem .75rem !important;
}

.form-control {
  &:focus {
    border-color: #FF6600;
  }
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(0,0,0,.9);
    font-weight: 700;
}

#navbar-menu {
  .navbar {
    height: 100px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    padding: 0;
    transition: all 0.5s ease;

    .navbar-brand {
      padding: 0;
      max-height: 80px;
      transition: all 0.5s ease;

      img {
        max-height: 80px;
      }
    }

    .navbar-toggler {
      outline: 0;
      box-shadow: none;
      position: absolute;
      right: 10px;
    }

    .navbar-collapse {
      ul {
        li {
          a {
            transition: all 0.4s ease;
            font-size: 0.9rem;

            &:after {
              content: "";
              display: block;
              height: 2px;
              width: 0%;
              background-color: #ff6600;
              transition: all 0.4s ease;
            }

            &:hover {
              transition: all 0.4s ease;
              color: #FF6600;

              &:after {
                content: "";
                display: block;
                height: 2px;
                width: 100%;
                background-color: #ff6600;
                transition: all 0.4s ease;
              }
            }
          }
        }
      }
    }
  }

  .overlay_mobile {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0; z-index: 1031;
    background-color: rgba(0,0,0,0.7);
    display: none;
  }

  #menu-mobile {
    opacity: 0;
    z-index: 1032;
    position: fixed;
    width: 80%;
    background-color: #FFF;
    padding: 30px;
    top: 0;
    left: -80%;
    border-right: 4px solid #ff6600;
    height: 100%;

    ul {
      margin-top: 20px;

      li {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;

        a {
          color: #FF6600;

          &:after {
            content: "";
            width: 0;
            height: 2px;
            background-color: #FF6600;
            display: block;
            transition: all 0.4s ease;
            margin: auto;
            text-align: center;
          }

          &:hover {
            text-decoration: none;

            &:after {
              content: "";
              width: 100%;
              height: 2px;
              background-color: #FF6600;
              display: block;
              transition: all 0.4s ease;
            }
          }
        }
      }
    }
  }
}


#content {
  min-height: 600px;

  section {
    padding: 2rem 0 4rem;

    &#home {
        padding: 0;

        #blocDons {
          background-image: url(/images/bkg-dons.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          background-attachment: fixed;

          .description{
            background-color: rgba(255,255,255,0.95);
            padding: 1rem 3rem;
          }
        }

        #maps {
          height: 500px;
          iframe {
            width: 100%;
            height: 500px;
            border: 0;
          }
        }
    }
  }
}



#headerHome {
  padding: 0 !important;

  &.fullsize-video-bg {
    height: 500px;
    overflow: hidden;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(255, 102, 0, 0.75);
    }

    #video-viewport {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;

      video {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }
    .contentVideo {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      color: #FFF !important;
    }
  }
}





#dons {
  .modePaiement1 {
    form {
      input[type="image"] {
        padding: 10px;
        border: 2px solid #FFF;
        transition: all 0.2s ease;

        &:hover {
          cursor: pointer;
          border: 2px solid #FF6600;
        }
      }
    }
  }
}

#projet {
  .formLinkProject {
    width: 80%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #ff6600;

    input {
      margin-bottom: 20px;
    }

    input[type="submit"] {
      margin-bottom: 0;
    }
  }
}

#competences {
  i {
    font-size: 3rem;
    color: #FF6600;
  }

  h3 {
    margin-top: 10px;
  }
}

#contact {
  .description {
    p {
      width: 40%;
      margin: auto;
    }
  }
}

#connexion-inscription {
  .connexion, .inscription {
    padding: 0 15px;
  }
}


footer {
  .footer-menu {
    ul {
      display: inline-flex;
      flex-direction: column;

      li {
        display: flex;
        justify-content: center;

        a {
          color: #FFF;
          font-weight: 100;
          font-size: 0.85rem;
          letter-spacing: 0.045rem;


          &:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: #ff6600;
            transition: all 0.4s ease;
          }

          &:hover {
            text-decoration: none;

            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background-color: #ff6600;
              transition: all 0.4s ease;
            }
          }
        }
      }
    }
  }

  .footer-social {
    ul {
      li {
        margin-left: 10px;
        a {
          color: #FFF;
          font-size: 1.4rem;
          width: 40px;
          height: 40px;
          line-height: 40px;
          display: block;
          text-align: center;
          transition: all 0.4s ease;
          background-color: #FFF;
          color: #333;
          border-radius: 50%;

          &:hover {
            transform: rotate(360deg);
            transition: all 0.7s ease;
          }
        }
      }
    }
  }
}



#panel-admin {
  position: relative;
  .sidebar-admin {
    .topbar {
      position: fixed;
      top: 0;
      width: 100%;
      padding: 10px;
      background-color: #3E3E3E;
      z-index: 10;

      a {
        color: #FFF;
        transition: all 0.3s ease;

        &:hover {
          color: #ff6600;
          text-decoration: none;
        }
      }
    }
    .navbar-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 300px;
      background-color: #333;
      height: 100%;
      z-index: 11;
      display: block;
      border-right: 2px solid #ff6600;

      .nav-item {
        border-right: 0 solid #ff6600;

        &.active, &:hover {
          background-color: #4C4C4C;
          border-right: 6px solid #ff6600;
        }

        a {
          padding: 1rem 0;
          color: #FFF;
        }

      }
    }
  }
}

.adminContent {
  margin-left: 300px;
  padding: 0 30px;

  h1 {
    margin-top: 0;
  }

  a {
    color: #FF6600;
    transition: all 0.3s ease;

    &:hover {
      color: #c14d00;
      text-decoration: none;
    }
  }


  table {
    tbody {
      tr {
        td {
          &:last-child {
            text-align: center;
          }
        }
      }
    }
  }
}


@media (min-width: 768px){

  #connexion-inscription {
    .connexion {
      padding-right: 5rem;
    }

    .inscription {
      border-left: 1px solid #ff6600;
      padding-left: 5rem;
    }
  }
}

@media (min-width: 992px){

  #headerHome {
    &.fullsize-video-bg {
      height: 800px;
    }
  }


  .container {
      width: 95% !important;
  }

  h1 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: 100;
  }

  h3 {
    font-size: 2rem;
    font-weight: 500;
    color: #ff6600;
  }

  h4 {
    margin: 20px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  #connexion-inscription input, #contact input {
    text-align: left;
  }

  .footer-menu {
    ul {
      li {
        justify-content: start !important;
      }
    }
  }
}

@media (min-width: 1200px){

  #content {
    section {
      padding: 4rem 0;
    }
  }

  #dons {
    #formDons {
      width: 80%;
    }
  }

  .container {
      max-width: 1600px !important;
      width: 85% !important;
  }
}




/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #aca9a4; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 5000; /* Add a z-index if needed */
    right: 100px; /* Center the snackbar */
    top: 100px; /* 200px from the top */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}
